.markupper-editor {
  display: flex;
  flex-direction: row;

  .markupper-selector {
    background-color: azure;
    flex: 1;

    .markupper-selector-text {

      .markupper-selector-page {

        .markupper-selector-line {

          .markupper-selector-piece {
            display: inline-block;
            margin: 3px;
            padding: 5px;
            border-width: 2px;
            border-radius: 8px;
            border-style: solid;
            border-color: transparent;
            user-select: none;

            &:hover {
              cursor: pointer;
            }

            &-selected {
              border-color: blue;
            }

            &__none {
              $backgroundColor: lightgray;
              $color: black;

              background-color: $backgroundColor;
              color: $color;

              &:hover {
                background-color: rgba($backgroundColor, 0.75);
              }
            }

            &__word {
              $backgroundColor: pink;
              $color: black;

              background-color: $backgroundColor;
              color: $color;

              &:hover {
                background-color: rgba($backgroundColor, 0.75);
              }
            }

            &__punctuation {
              $backgroundColor: purple;
              $color: white;

              background-color: $backgroundColor;
              color: $color;

              &:hover {
                background-color: rgba($backgroundColor, 0.75);
              }
            }
          }
        }
      }
    }
  }

  .markupper-attributor {
    background-color: antiquewhite;
    flex: 1;

    .markupper-attributor-piece {

      .markupper-attributor-piece-label {
        font-size: 24px;
        font-weight: bold;
        color: crimson;
        text-align: center;
      }

      .markupper-attributor-analysis {
        background-color: palegreen;

        .markupper-attributor-analysis-label {
          padding-left: 5px;
          margin-bottom: 3px;
        }
      }
    }

    .markupper-attributor-attributes-container {
      display: flex;
      flex-direction: column;

      .markupper-attributor-attribute {
        display: flex;
        flex-direction: row;

        .markupper-attributor-attribute-name {
          background-color: khaki;
          flex: 1;
          padding: 5px;
        }

        .markupper-attributor-attribute-value {
          display: block;
          flex: 2;
          padding: 5px;
        }
      }
    }
  }
}
